@font-face {
  font-family: windowsFont;
  src: url(../assets/Windows-Regular.ttf);
}

html {
  background-image: url(../assets/vaporwave-blur.jpg);
  background-size: cover;
  background-attachment: fixed;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  overflow-y: auto;
  font-family: "windowsFont";
  font-size: 12pt;
  font-weight: 400;
  color: #222222;
  padding-top: 5vh;
  padding-bottom: 10vh;
}

button,
select,
input,
textarea,
option {
  font-family: "windowsFont";
  font-size: 11pt;
  font-weight: 400;
}

button {
  background-color: #ccc;
  border-style: inset;
  border-radius: 0;
  box-shadow: inset -1px -1px #0a0a0a, inset -2px -2px #808080;
  min-width: 75px;
  min-height: 23px;
}

button:hover {
  background-color: aquamarine;
  cursor: pointer;
}

/* SITE STANDARD DIV CLASSES */

.above-screen-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.42);
  z-index: 9998;
}

.full-page-wrapper {
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 9998;
}

.standard-page-wrapper {
  display: flex;
  margin-top: 50px;
  flex-direction: column;
  max-height: 100%;
  align-items: center;
  background-color: #333;
  justify-items: center;
  justify-content: flex-start;
  border-style: inset;
  box-shadow: inset -1px -1px #0a0a0a, inset -2px -2px #808080;
}

.standard-page-wrapper h1 {
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}

.standard-page-header {
  background-color: #c3c3c3;
  margin-top: 20px;
  display: flex;
  border-style: inset;
  border-width: 2px;
  box-shadow: inset -1px -1px #0a0a0a, inset -2px -2px #808080;
  flex-direction: column;
  text-align: center;
  padding-bottom: 10px;
}

.standard-page-header h1 {
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
}

.standard-page-header button {
  width: 200px;
  align-self: center;
}

.standard-title {
  background: linear-gradient(to right, #010081, #008080);
  color: white;
}

.error-title {
  background: linear-gradient(to right, #ff0081, red);
}

.standard-page-header a {
  margin-top: 10px;
}

.standard-page-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-width: 300px;
  background-color: #c3c3c3;
  text-align: center;
}

.standard-page-box button {
  margin-top: 10px;
  margin-bottom: 10px;
}

.standard-page-box label {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.2em;
  
}

/* LOADING SPINNER */

.spinner {
  width: 50px;
  height: 50px;
  border: 6px solid #ccc;
  border-top-color: #333;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* NAVBAR */

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  overflow-x: auto;
  overflow-y: hidden;
  height: 50px;
  width: 100vw;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  background: linear-gradient(to right, #010081, #008080);
  color: white;
  border-style: solid;
  border-color: black;
  border-top: #000000;
  border-left: #000000;
  border-right: #000000;
  border-width: 10px;
}

.navbar a {
  font-size: 1em;
  color: antiquewhite;
}

.navbar a:hover {
  color: coral;
}

.navbar-option {
  max-height: 50px;
  text-align: center;
  width: 150px;
  margin-left: 10px;
}

.navbar-museum-project {
  overflow: hidden;
  position: relative;
  height: 50px;
  width: 100%;
  font-size:xx-large;
  letter-spacing: 2rem;
  white-space: nowrap;
}

.navbar-museum-project p {
  position: absolute;
  height: 100%;
  margin: 0;
  line-height: 50px;
  text-align: center;
  /* Start off the right edge */
  transform: translateX(100%);
  /* Animate to the left */
  animation: scroll-colour-change 20s linear infinite;
}

@keyframes scroll-colour-change {
  0% {
      transform: translateX(100%);
      color: red;
  }
  12.5% {
    color: orange;
  }
  25% {
    color: yellow;
  }
  37.5% {
    color: white;
  }
  50% {
    color: red;
  }
  62.5% {
    color: indigo;
  }
  75% {
    color: violet;
  }
  87.5% {
    color: black
  }

  100% {
      transform: translateX(-100%);
      color: white;
  }
}

.navbar-button {
  max-height: 50px;
  margin: 10px;
}

/* LOGIN PAGE*/

.login-page-box {
  display: flex;
  padding: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 300px;
  max-width: 500px;
  background-color: #c3c3c3;
  text-align: center;
}

.big-button {
  width: 400px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
  font-size: larger;
  height: 75px;
}

.login-page-box label {
  margin: 10px;
}

.login-page-box input {
  width: 300px;
  margin: 10px;
}

.login-error-text {
  color: red;
}

/* HOME PAGE */

.home-page-button {
  width: 400px;
  padding-left: 20px;
  padding-right: 20px;
}

.home-page-button button {
  font-size: larger;
  height: 75px;
}

/* FILTER SELECTION */

.filter-option {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  width: 95%;
}

.filter-input {
  width: 100%;
  max-width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  box-sizing:border-box;
  overflow: hidden;
}

.filter-input:focus {
  outline: none;
  border-width: 2px;
  border-color: #007bff;
}

.filter-input option {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.active-filter-wrapper {
  margin-top: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.active-filter {
  background-color: #c3c3c3;
  border-style: ridge;
  border-width: 4px;
  border-color: white;
  display: flex;
  min-width: 8vw;
  max-width: 10vw;
  margin-top: 5px;
  margin-left: 10px;
  padding-left: 5px;
  padding-right: 5px;
  flex-direction: column;
  align-items: center;
}

.active-filter p {
  margin-top: 2px;
  margin-bottom: 2px;
}

.active-filter button {
  margin-bottom: 4px;
  width: 100%;
}

.active-filter button:hover {
  background-color: rgb(255, 101, 101);
}

/* OBJECTS LIST */

.object-page-top-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.show-filter-button {
  width: 30%;
  margin-top: 10px;
  border-color: black;
  border-style: inset;
  font-size: 18pt;
}

.object-thumbnail-list-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.object-thumbnail-list {
  width: 100%;
  display: flex;
  margin-top: 0px;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  min-height: 100px;
  padding-left: 0;
  padding-bottom: 10vh;
}

.object-thumbnail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  min-height: 200px;
  max-width: 200px;
  padding: 12px;
  margin: 5px;
  border-width: 4px;
  border-color: black;
  border-style: groove;
  background-color: #c3c3c3;
  transition: background-color 0.2s ease;
  transition: transform 0.2s ease;
}

.object-thumbnail:hover {
  transform: scale(1.2);
  background-color: #ff0081;
}

.pagination-and-sort-wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  max-height: 10vh;
}

.sorting-options-wrapper {
  background-color: hsla(185, 100%, 67%, 0.51);
  width: 100%;
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
}

.sorting-options-label {
  margin: 5px;
}

.sorting-options-select {
  margin: 10px;
}
.sorting-options-button {
  margin: 10px;
}

.pagination-wrapper {
  background-color: hsla(185, 100%, 67%, 0.51);
  width: 100%;
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
}

.pagination-label {
  margin: 5px;
}
.pagination-page-buttons {
  margin: 10px;
}

.pagination-custom-page-input {
  margin: 10px;
}

/* SINGLE OBJECT PAGE */


.single-object-title {
  background: linear-gradient(to right, #010081, #008080);
  color: white;
  width: 100%;
  border-style: inset;
  border-width: 2px;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  align-self: center;
}
.single-object-image-and-info-wrapper {
  background-color: #c3c3c3;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  border-style: solid;
  border-color: black;
  border-width: 2px;
}

.single-object-image {
  display: flex;
  max-width: 50vw;
  max-height: 85vh;
  width: auto;
  height: auto;
  margin-right: 10px;
  border-style: solid;
  border-width: 10px;
  border-color: black;
}

.single-object-information {
  max-width: 50vw;
  max-height: 85vh;
  overflow-x: hidden;
  text-overflow: ellipsis;
  display: flex;
  margin: 10px;
  flex-direction: column;
}

.single-object-back-to-search-button {
  margin: 10px;
  height: 40px;
  border-radius: 5px;
}

.single-object-add-to-exhibit-wrapper {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.single-object-add-to-label {
  margin: 10px;
}

.single-object-add-to-select {
  margin: 10px;
}

.single-object-add-to-option {
  margin: 10px;
}

.single-object-add-to-button {
  margin: 10px;
}

.exhibit-list-header {
  background-color: hsla(185, 100%, 67%, 0.51);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.exhibit-list-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.exhibit-thumbnail-wrapper {
  background-color: #ccc;
  display: flex;
  flex-direction: row;
  width: 100%;
  border-style: inset;
  border-width: 2px;
  box-shadow: inset -1px -1px #0a0a0a, inset -2px -2px #808080;
}
.exhibit-thumbnail-list {
  display: flex;
  min-width: 80vw;
  width: 100%;
  flex-direction: column;
  list-style: none;
}

.exhibit-thumbnail-image {
  max-height: 200px;
  width: 20%;
  height: auto;
  border-style: solid;
  border-color: black;
}

.exhibit-thumbnail-information {
  display: flex;
  justify-content: center;
  width: 80%;
  text-align: center;
  flex-direction: column;
}

.exhibit-create-header {
  margin: 10px;
}

.exhibit-create-subheader {
  margin: 10px;
}

.exhibit-create-text {
  margin: 10px;
}

.title-input-field {
  width: 100%;
  max-width: 600px;
  margin: 10px;
}

.description-input-field {
  margin: 10px;
  width: 100%;
  max-width: 600px;
  height: 150px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  line-height: 1.5;
  resize: none;
}

.exhibit-create-button {
  width: 100%;
  padding: 10px;
  background-color: #c3c3c3;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  margin-top: 10px;
}

.exhibit-object-exhibit-title {
  text-align: center;
  margin: 10px;
}

.exhibit-object-page-select {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.exhibit-object-page-select button {
  margin-left: 10px;
  margin-right: 10px;
  width: 150px;
}
